name: Repository Unit Tests

on: [pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [14]
        os: [ubuntu-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          check-latest: true
      # Run Prettier Check before project is built
      # Resolver type generation breaks prettier check
      - name: Prettier Check
        run: npx prettier --check
      - name: Setup project
        run: npm install
      - name: Run Unit Tests
        run: npm run test:ci
